.search-bar {
  height: 48px;
  padding: 8px;
  display: flex;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.08);

  &__btns-wrapper {
    display: flex;
  }

  &__btn {
    border-right: 1px solid #ddd;

    &:last-child {
      border: none;
    }
  }

  &__btn-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--c-accent);
  }
}