.link {
  padding: 0 20px 0 15px;

  display: flex;
  align-items: center;
  column-gap: 8px;
  
  font-weight: 600;
  font-size: 14px;
  line-height: 1.6;

  &--light {
    font-weight: 400;
    color: var(--c-gray);
  }
}